# General Application Settings
NODE_ENV=development
DB_LOGGING=false
SERVER_HOST=https://api.maharbawgaexchange.com/
SERVER_PORT=3000

# Authentication (JWT)
JWT_SECRET=aF9vE2r!Xq6@cL#Z7dP1oBtYwG3^mA0uQh*KxVsTf&R5sJeMi
# Access token lifetime in seconds (default 900 = 15 minutes)
JWT_ACCESS_TOKEN_EXPIRES_IN_SECONDS=900
# Refresh token lifetime in seconds (default 604800 = 7 days)
JWT_REFRESH_TOKEN_EXPIRES_IN_SECONDS=604800

# Database Configuration (MySQL)
DEV_DB_CONNECTION=mysql
DEV_DB_HOST=127.0.0.1
DEV_DB_DATABASE=hr_system
DEV_DB_USERNAME=root
DEV_DB_PASSWORD=root
# Used only by docker-compose to set the MySQL container's root password
DEV_DB_ROOT_PASSWORD=root

# Timezone
TIME_ZONE=Asia/Yangon

# Pagination
DEFAULT_PAGINATE=25

# Caching (Redis) (Optional)
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=your_redis_password_if_any
REDIS_MAX_RETRY=10

# Email Service (SendGrid)
SENDGRID_ACCOUNT_NAME=
SENDGRID_ACCOUNT_EMAIL=
SENDGRID_API_KEY=
SENDGRID_RETRY=3
SENDGRID_FORGET_PASSWORD_TEMPLATE_ID=